@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    --soft-blue: #AAADBF;
    --soft-yellow: #F2D0A7;
    --soft-white: #F2E8DC;
    --brown: #A66953;
    --dark-brown: #59514F;
    --darker-brown: #1C1717;
    font-size: 62.5%;
    font-family: 'Berkshire Swash', cursive;
    color: var(--soft-white);
}
body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('../assets/lord-of-the-rings-vs-game-of-thrones.jpg');
    background-repeat: no-repeat;
    background-size: 1440px 100vh;
    background-position-x: -540px;
}
h1 {
    font-size: 5rem;
    letter-spacing: 3px;
    color: var(--soft-white);
}
h2 {
    font-size: 2.5rem;
    color: var(--soft-white);
}
.wrapper {
    width: 80vw;
    height: 85vh;
    max-width: 800px;
    min-width: 300px;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(89,81,79,0.95);
}
.tittle-container {
    height: 120px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.images-container {
    width: 80vw;
    height: 20vh;
    max-width: 500px;
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.images-container img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
}
.form-container {
    height: 150px;
    width: 75vw;
    text-align: center;
}
.form-container p {
    font-size: 2.5rem;

}
.form-container .name-input {
    width: 60vw;
    height: 40px;
    max-width: 300px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px var(--dark-brown) solid;
    background-color: var(--soft-white);
    font-family: 'Berkshire Swash', cursive;
    color: var(--dark-brown);
    font-size: 1.6rem;
}
.form-container  .begin-button {
    width: 150px;
    height: 40px;
    margin: 10px 0;
    font-family: 'Berkshire Swash', cursive;
    color: var(--darker-brown);
    letter-spacing: 0.5px;
    font-size: 1.8rem;
    border-radius: 5px;
    border: 0;
}
/* Choice Styles */
.question-container {
    height: 80px;
    width: 68vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.images-container button {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    border: 0;
}
.images-container button:focus {
    outline: 0;
}
.images-container .GOT-button {
    background:transparent url('../assets/GOT.jpg') no-repeat;
    background-size: cover;
}
.images-container .TLOTR-button {
    background:transparent url('../assets/TLOTR.jpg') no-repeat;
    background-size: cover;
}
.change-name-container {
    width: 70vw;
    text-align: center;
}
.change-name-container p {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.change-name-container p a{
    color: var(--brown);
    text-decoration: underline;
}
/* Game Styles */
header {
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .image-container{
    height: 60px;
    width: 60px;
    margin: 5px;
}
header .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
header .timer-container {
    width: 100px;
    height: 50px;
    text-align: center;
}
header .timer-container span {
    font-size: 3rem;
    color:var(--darker-brown);
}
.answers-container {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.answers-container .answer {
    width: 65vw;
    height: 80px;
    border-radius: 15px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    background-color: var(--soft-yellow);
}
.answers-container .answer span {
    color: var(--darker-brown);
}
.answers-container .answer p {
    font-size: 1.1rem;
    color: var(--darker-brown);
}
.mention {
    width: 75vw;
    height: 10px;
    font-size: 1rem;
    margin: 20px;
    color: var(--soft-yellow);
    text-align: center;
}
.mention a {
    text-decoration: none;
    color: var(--brown);
}